* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
main {
  width: 90%;
  min-height: 150%;
  margin: 20px auto;
  display: flex;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  line-height: 20px;
}

.left {
  width: 45%;
  background-color: hsl(210, 60%, 48%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile img {
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.about h1 {
  margin: 10px 0px;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.links {
  margin-top: 10px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
.social-icon {
  font-size: 1rem;
  margin-right: 0.5vw;
}
.skills {
  margin: 30px 0 50px 0;
}
.skills h3 {
  margin: 0 0 10px -20px;
}
.skills div {
  margin-left: 10px;
}
.right {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.info {
  width: 90%;
  margin: 50px 0 0 10%;
}
.heading {
  width: 90%;
  padding: 10px 5%;
  background-color: rgb(229, 246, 252);
  font-weight: bold;
}
.content {
  width: 90%;
  display: flex;
  margin-top: 25px;
}
.content_icon {
  text-align: center;
  height: 100%;
  margin-right: 25px;
}
.content_icon i {
  font-size: 30px;
  color: hsl(210, 60%, 48%);
}
.content_details {
  padding-top: 10px;
}
.text {
  margin-top: 10px;
}
.content_details ul {
  margin-left: 30px;
}
.content_details_part,
.content_details_time {
  font-size: 14px;
}
@media only screen and (max-width: 660px) {
  main {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
